In [64]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_rows', 20)

# Ejercicios apply

In [42]:
world=pd.read_csv('world.csv', index_col=0)

In [43]:
world

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitude,latitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",'33.93911 ','67.709953'
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",'41.153332 ','20.168331'
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",'28.033886 ','1.659626'
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",'42.506285 ','1.521801'
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",'-11.202692 ','17.873887'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.9,VED,2.27,52.7,0.00,"482,359,318,768",97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",'6.42375 ','-66.58973'
191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.8,VND,2.05,48.1,0.80,"261,921,244,843",110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",'14.058324 ','108.277199'
192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.1,YER,3.79,1.0,0.92,"26,914,402,224",93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",'15.552727 ','48.516388'
193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.2,ZMW,4.63,65.2,1.40,"23,064,722,446",98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",'-13.133897 ','27.849332'
194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.9,NaN,3.62,35.5,1.34,"21,440,758,800",109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",'-19.015438 ','29.154857'

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [44]:
world.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'longitude', 'latitude'],
      dtype='object')

In [45]:
ej_1=world[['landarea','armedforcessize', 'density', 'co2-emissions', 'gdp', 'population', 'urban_population', 'longitude', 'latitude', 'cpi']]

In [46]:
ej_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   landarea          194 non-null    object
 1   armedforcessize   171 non-null    object
 2   density           195 non-null    object
 3   co2-emissions     188 non-null    object
 4   gdp               193 non-null    object
 5   population        194 non-null    object
 6   urban_population  190 non-null    object
 7   longitude         195 non-null    object
 8   latitude          195 non-null    object
 9   cpi               178 non-null    object
dtypes: object(10)
memory usage: 16.8+ KB

In [47]:
'''def to_float(columna):
    try:
        if "'" in columna:
            return float(columna.replace("'",""))
        else:
            return float(columna.replace(',',''))
    except:
        return np.nan'''

'def to_float(columna):\n    try:\n        if "\'" in columna:\n            return float(columna.replace("\'",""))\n        else:\n            return float(columna.replace(\',\',\'\'))\n    except:\n        return np.nan'

In [48]:
def to_float(columna):
    try:
        return float(columna.replace("'","").replace(',',''))
    except:
        return np.nan

In [49]:
lista_col=['landarea','armedforcessize', 'density', 'co2-emissions', 'gdp', 'population', 'urban_population', 'longitude', 'latitude', 'cpi']

for columna in lista_col:
    world[columna]=world[columna].apply(to_float)

In [50]:
world[['landarea','armedforcessize', 'density', 'co2-emissions', 'gdp', 'population', 'urban_population', 'longitude', 'latitude', 'cpi']]

,landarea,armedforcessize,density,co2-emissions,gdp,population,urban_population,longitude,latitude,cpi
0,652230.0,323000.0,60.0,8672.0,1.910135e+10,38041754.0,9797273.0,33.939110,67.709953,149.90
1,28748.0,9000.0,105.0,4536.0,1.527808e+10,2854191.0,1747593.0,41.153332,20.168331,119.05
2,2381741.0,317000.0,18.0,150006.0,1.699882e+11,43053054.0,31510100.0,28.033886,1.659626,151.36
3,468.0,NaN,164.0,469.0,3.154058e+09,77142.0,67873.0,42.506285,1.521801,NaN
4,1246700.0,117000.0,26.0,34693.0,9.463542e+10,31825295.0,21061025.0,-11.202692,17.873887,261.73
...,...,...,...,...,...,...,...,...,...,...
190,912050.0,343000.0,32.0,164175.0,4.823593e+11,28515829.0,25162368.0,6.423750,-66.589730,2740.27
191,331210.0,522000.0,314.0,192668.0,2.619212e+11,96462106.0,35332140.0,14.058324,108.277199,163.52
192,527968.0,40000.0,56.0,10609.0,2.691440e+10,29161922.0,10869523.0,15.552727,48.516388,157.58
193,752618.0,16000.0,25.0,5141.0,2.306472e+10,17861030.0,7871713.0,-13.133897,27.849332,212.31
194,390757.0,51000.0,38.0,10983.0,2.144076e+10,14645468.0,4717305.0,-19.015438,29.154857,105.51

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [ ]:
world.rename(columns={'longitude':'latitude','latitude':'longitude'},inplace=True)

In [56]:
def continent (latitud,longitud):
    if 35.59<=latitud<=71.1 and -9.26<=longitud<=40.14:
        return 'Europa'
    elif -10<=latitud<=80 and -30<=longitud<=180:
        return 'Asia'
    elif -55<=latitud<=90 and -169.4<=longitud<=-26.4:
        return 'America'
    elif -35<=latitud<=35 and -20<=longitud<=50:
        return 'Africa'
    else:
        return 'Oceania'

In [57]:
world['Continent']=world.apply(lambda dataframe: continent (dataframe['latitude'],dataframe['longitude']), axis=1)

In [63]:
world[['Continent','country']]

    Continent                           country
0        Asia                       Afghanistan
1      Europa                           Albania
2        Asia                           Algeria
3      Europa                           Andorra
4      Africa                            Angola
5     America               Antigua and Barbuda
6     America                         Argentina
7        Asia                           Armenia
8     Oceania                         Australia
9      Europa                           Austria
10       Asia                        Azerbaijan
11    America                       The Bahamas
12       Asia                           Bahrain
13       Asia                        Bangladesh
14    America                          Barbados
15     Europa                           Belarus
16     Europa                           Belgium
17    America                            Belize
18       Asia                             Benin
19       Asia                            Bhutan
20    America                           Bolivia
21     Europa            Bosnia and Herzegovina
22     Africa                          Botswana
23    America                            Brazil
24       Asia                            Brunei
25     Europa                          Bulgaria
26       Asia                      Burkina Faso
27       Asia                           Burundi
28       Asia                       Ivory Coast
29       Asia                        Cape Verde
30       Asia                          Cambodia
31       Asia                          Cameroon
32    America                            Canada
33       Asia          Central African Republic
34       Asia                              Chad
35    America                             Chile
36       Asia                             China
37    America                          Colombia
38     Africa                           Comoros
39       Asia             Republic of the Congo
40    America                        Costa Rica
41     Europa                           Croatia
42    America                              Cuba
43       Asia                            Cyprus
44     Europa                    Czech Republic
45       Asia  Democratic Republic of the Congo
46     Europa                           Denmark
47       Asia                          Djibouti
48    America                          Dominica
49    America                Dominican Republic
50    America                           Ecuador
51       Asia                             Egypt
52    America                       El Salvador
53       Asia                 Equatorial Guinea
54       Asia                           Eritrea
55     Europa                           Estonia
56     Africa                          Eswatini
57       Asia                          Ethiopia
58    Oceania                              Fiji
59     Europa                           Finland
60     Europa                            France
61       Asia                             Gabon
62       Asia                        The Gambia
63       Asia                           Georgia
64     Europa                           Germany
65       Asia                             Ghana
66     Europa                            Greece
67    America                           Grenada
68    America                         Guatemala
69       Asia                            Guinea
70       Asia                     Guinea-Bissau
71    America                            Guyana
72    America                             Haiti
73     Europa                      Vatican City
74    America                          Honduras
75     Europa                           Hungary
76       Asia                           Iceland
77       Asia                             India
78       Asia                         Indonesia
79       Asia                              Iran
80       Asia                              Iraq
81     Europa               Republic of Ireland
82       Asia                            Israel
83     Europa                             Italy
84    America                           Jamaica
85       Asia                             Japan
86       Asia                            Jordan
87       Asia                        Kazakhstan
88       Asia                             Kenya
89    America                          Kiribati
90       Asia                            Kuwait
91       Asia                        Kyrgyzstan
92       Asia                              Laos
93     Europa                            Latvia
94       Asia                           Lebanon
95     Africa                           Lesotho
96       Asia                           Liberia
97       Asia                             Libya
98     Europa                     Liechtenstein
99     Europa                         Lithuania
100    Europa                        Luxembourg
101    Africa                        Madagascar
102    Africa                            Malawi
103      Asia                          Malaysia
104      Asia                          Maldives
105      Asia                              Mali
106    Europa                             Malta
107      Asia                  Marshall Islands
108      Asia                        Mauritania
109   Oceania                         Mauritius
110   America                            Mexico
111      Asia    Federated States of Micronesia
112    Europa                           Moldova
113    Europa                            Monaco
114      Asia                          Mongolia
115    Europa                        Montenegro
116      Asia                           Morocco
117    Africa                        Mozambique
118      Asia                           Myanmar
119    Africa                           Namibia
120      Asia                             Nauru
121      Asia                             Nepal
122    Europa                       Netherlands
123   Oceania                       New Zealand
124   America                         Nicaragua
125      Asia                             Niger
126      Asia                           Nigeria
127      Asia                       North Korea
128    Europa                   North Macedonia
129    Europa                            Norway
130      Asia                              Oman
131      Asia                          Pakistan
132      Asia                             Palau
133      Asia    Palestinian National Authority
134   America                            Panama
135      Asia                  Papua New Guinea
136   America                          Paraguay
137   America                              Peru
138      Asia                       Philippines
139    Europa                            Poland
140    Europa                          Portugal
141      Asia                             Qatar
142    Europa                           Romania
143      Asia                            Russia
144      Asia                            Rwanda
145   America             Saint Kitts and Nevis
146   America                       Saint Lucia
147   America  Saint Vincent and the Grenadines
148   Oceania                             Samoa
149    Europa                        San Marino
150   Oceania                      S�����������
151      Asia                      Saudi Arabia
152      Asia                           Senegal
153    Europa                            Serbia
154      Asia                        Seychelles
155      Asia                      Sierra Leone
156      Asia                         Singapore
157    Europa                          Slovakia
158    Europa                          Slovenia
159      Asia                   Solomon Islands
160      Asia                           Somalia
161    Africa                      South Africa
162      Asia                       South Korea
163      Asia                       South Sudan
164    Europa                             Spain
165      Asia                         Sri Lanka
166      Asia                             Sudan
167   America                          Suriname
168    Europa                            Sweden
169    Europa                       Switzerland
170      Asia                             Syria
171      Asia                        Tajikistan
172      Asia                          Tanzania
173      Asia                          Thailand
174      Asia                        East Timor
175      Asia                              Togo
176   Oceania                             Tonga
177   America               Trinidad and Tobago
178      Asia                           Tunisia
179    Europa                            Turkey
180      Asia                      Turkmenistan
181      Asia                            Tuvalu
182      Asia                            Uganda
183    Europa                           Ukraine
184      Asia              United Arab Emirates
185    Europa                    United Kingdom
186   America                     United States
187   America                           Uruguay
188      Asia                        Uzbekistan
189   Oceania                           Vanuatu
190   America                         Venezuela
191      Asia                           Vietnam
192      Asia                             Yemen
193    Africa                            Zambia
194    Africa                          Zimbabwe

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [65]:
world.to_csv('world_continent.csv')

# Ejercicios groupby

1. ¿Cuál es la densidad de población promedio por continente?

In [80]:
densidad=world.groupby('Continent')['density'].mean().reset_index().round(2)
densidad

  Continent  density
0    Africa    86.75
1   America   133.06
2      Asia   284.98
3    Europa   818.93
4   Oceania   145.75

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [70]:
world.groupby('officiallanguage')['lifeexpectancy'].mean().reset_index().round(2)

     officiallanguage  lifeexpectancy
0           Afrikaans           63.90
1            Albanian           78.50
2             Amharic           66.20
3              Arabic           72.86
4            Armenian           74.90
..                ...             ...
71  Tuvaluan Language             NaN
72          Ukrainian           71.60
73               Urdu           67.10
74              Uzbek           71.60
75         Vietnamese           75.30

[76 rows x 2 columns]

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [72]:
world.groupby('currency-code')['infantmortality'].mean().reset_index().round(2)

    currency-code  infantmortality
0             AED             6.50
1             AFN            47.90
2             ALL             7.80
3             AMD            11.00
4             AOA            51.60
..            ...              ...
128           XCD            15.18
129           XOF            51.51
130           YER            42.90
131           ZAR            28.50
132           ZMW            40.40

[133 rows x 2 columns]

4. ¿Cuál es el salario mínimo por continente?

In [75]:
world.groupby('Continent')['minimumwage'].min().reset_index()

  Continent  minimumwage
0    Africa         0.12
1   America         0.01
2      Asia         0.01
3    Europa         0.31
4   Oceania         0.38

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
    - Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".
    
    - Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

    - Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.
    
    - Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [76]:
world.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitude', 'longitude',
       'Continent'],
      dtype='object')

In [78]:
tasa_impuestos=world.groupby('Continent')['totaltaxrate'].sum().reset_index()
tasa_impuestos

  Continent  totaltaxrate
0    Africa         513.4
1   America        1568.2
2      Asia        3650.2
3    Europa        1510.1
4   Oceania         228.6

In [81]:
densidad

  Continent  density
0    Africa    86.75
1   America   133.06
2      Asia   284.98
3    Europa   818.93
4   Oceania   145.75

In [82]:
densidad_tax=tasa_impuestos.merge(densidad, how='inner', on='Continent')

In [83]:
densidad_tax

  Continent  totaltaxrate  density
0    Africa         513.4    86.75
1   America        1568.2   133.06
2      Asia        3650.2   284.98
3    Europa        1510.1   818.93
4   Oceania         228.6   145.75

In [84]:
def tax_person(tax,density):
    return tax/density

In [85]:
densidad_tax['tax_person']=densidad_tax.apply(lambda dataframe: tax_person (dataframe['totaltaxrate'], dataframe['density']),axis=1)

In [88]:
densidad_tax[['Continent','tax_person']].max()

Continent       Oceania
tax_person    12.808618
dtype: object

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

In [89]:
world.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitude', 'longitude',
       'Continent'],
      dtype='object')

In [ ]:
def percent_urban (urban, population):

In [90]:
world.groupby('Continent')['urban_population'].mean().reset_index().round(2)

  Continent  urban_population
0    Africa        9186134.91
1   America       22796231.64
2      Asia       29553996.84
3    Europa       12455045.83
4   Oceania        3427350.75

7.¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial?     Para contestar esta pregunta dabes seguir los siguientes pasos:

    - Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.
    
    - Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:
    - Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

    - Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

    - Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.
    
    - Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total

BONUS groupby:

    - ¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

    - ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?